name: Push-deploy

on:
  push:
    branches: [ "master" ]
    paths: ["GaB_Core/GaB_Core.csproj"]

jobs: 
  push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          ssh-key: ${{ secrets.SECRET_PUSH_KEY }}

      - name: Get version
        shell: bash
        run: |
          repo=$(echo "${{ steps.meta.outputs.tags }}" | sed "s/:master//")
          echo "REPO=$repo" >> $GITHUB_ENV
          echo "REPO=$repo" 
          read_dom () { local IFS=\> ; read -d \< ENTITY CONTENT ;}
          while read_dom; do
            if [[ $ENTITY = "AssemblyVersion" ]]; then
              echo "VERSION=$CONTENT" >> $GITHUB_ENV
              echo "VERSION=$CONTENT"
              exit
            fi
          done < GaB_Core/GaB_Core.csproj

      - name: Setup dotnet
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: '8'
          
      - name: Setup dotnet-ef
        run: |
          dotnet tool install --global dotnet-ef

      - name: Create migrations
        run: |
          dotnet ef migrations add ${{ env.VERSION }} --context GaB_Core.UnprotectedDbConnector.UnprotectedDbContext --project ./GaB_Core
          dotnet ef migrations add ${{ env.VERSION }} --context GaB_Core.ProtectedDbConnector.ProtectedDbContext --project ./GaB_Core
      
      - name: Commit to deploy
        shell: bash
        run: |
          git config user.name "GitHub Actions Bot"
          git config user.email "<>"
          git add GaB_Core/Migrations
          git commit -m "Auto created migrations"
          git push origin master 
          git push origin deploy 
